/*cloroquina*/
/*reset css para navegador*/
*{
margin: 0; /*margem*/
padding: 03; /*preenchimento*/
}


body{
    height :100%;/*altura*/
   width: 100%;/*largura*/
   display:flex;
   justify-content: center;
    background: linear-gradient(black, aquamarine);
    background-repeat: no-repeat;
}
.imagem{
    display:flex;
    justify-content: center;
}
.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 30px
}
 .name{
    margin-top: 10px;
    display:flex;
    justify-content: center;
   font-size: 32px;
   font-weight: 600px;
   color: slateblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
   .redes-sociais{

       margin-top:10px;
        display:flex;/*oganizar intens na mesma linha*/
        justify-content:center;
         align-items:center; /*alinhamento de itens*/
         margin-bottom: 50px;
   }
     .icon, .email{
        display: inline-block; 
        height: 35px;
         width: 35px;
         border-radius: 10px;
          transition: all 0.35 ease-out;
           box-shadow:5px 5px 5px rgba(5, 3, 3, 0.1);
           cursor:pointer;
           margin:3px;
           overflow:hidden;
     }
     .icon i, .email i {
        display: inline-block;
        width:35px ;
        height:35px;
        line-height:35px;
        text-align: center;
        font-size:  22px;
        border-radius:  30px;
        background-color:rgb(237, 237, 237) ;
        color: #308ff3;
        cursor:pointer;
     }
      .icon span  a{
        list-style-type: style decimal;
        font-family: monospace;
        float:right;
        margin-right: 23px; 
        color:aquamarine;
        line-height: 35px; 
        font-size: 17px;
     }
 .name-icon{
   font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    float:right;
    color:aquamarine;
    font-weight:100;
     line-height: 35px;;
     font-size: 17px;   
 }
 .icon:hover{
    width: 125px;
    background-color:wheat;
    border-radius: 20px;
 }

 .icon:nth-child(1):hover  i {
    background:blueviolet;

 }
 
 .icon:nth-child(2):hover  i {
    background:blueviolet;

 }

 .icom:nth-child(3):hover  i {
    background:aqua  ;

 }
 .icon:nth-child(4):hover i{
    background-color:black;
 }

 .email:hover i{
 background-color: aquamarine;
}

/*Fim das css Reds Sociais*/
.texto{
  display:flex;
  justify-content:center; /*deixar texto no meio*/
  align-items: center;
  margin:auto;
  margin: top 20px;
  margin: bottom 35px;;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
  width: 299px;
  height: 150px;
  padding: 30px 35px ;
  border-radius: 50px; 
  color: rgb(205, 221, 255);
  background-color: #30dcf3;
  overflow: hidden;
  box-shadow:0 3px 3px rgba(0,0, 0, 0.55)
  /*transparencia*/;
  cursor: pointer; /*rgb-A= alpha para transaencia*/}

 .titulo{
   display: flex;
   justify-content: center; /*centralizar texto*/
   align-items: center;
   margin:auto;
   margin-top: 20px;
   display: flex;
   color:burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
   text-align: justify;
}
.Linguagem{
   display:flex;
   justify-content:center;
   margin-top:40px;
}
.Linguagem img{
display: flex;
justify-content:center;
align-items: 170px;
width: 170px;
border-radius: 200px;
margin: 5px;
box-shadow:2px 2px 2px rgb(98, 98, 98);
}
.projetos{
   margin:auto;
   margin-top: 45px;
}
.projetos a{
   text-decoration:none;
   color:sandybrown;
}
.item{
   margin:auto;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
   color:rgb(255, 127, 227);
   border:5px solid pink;
   border-radius: 50px;
   width: 580px;
   height: 80px;
   margin-bottom: 7px;
   background-color: blanchedalmond;
   box-shadow:0 5px 5px rgba(rgb(255, 0, 119), rgb(128, 98, 0), rgb(0, 204, 255), alpha);
   cursor: pointer; 
}

#Video{
   padding:10px;
   margin:auto;
   display:none;
}
#Video.active{
   display:block;
}
.rodape{
 color:chocolate;
 font-size:25px;
 display:flex;
 justify-content:center;
 margin-top: 50px;
 padding: 50px;
 font-family:'Times New Roman', Times, serif;
}


/*!*/ 